# Exploratory Data Analysis (EDA)

## Raw GHG Data

### Data Import and EDA

- Pull in data stored in Github
- Understand dataframe layout and basic attributes

In [ ]:
import pandas as pd
import numpy as np

# 2020 GHG emissions data test
url1 = 'https://raw.githubusercontent.com/edanyi/ed_RCEL506/main/ghgp_data_2020.csv'
df1 = pd.read_csv(url1)

In [1]:
# Rows and columns
df1.shape

NameError: ignored

In [ ]:
# All headings
print(list(df1.columns))

['Facility Id', 'FRS Id', 'Facility Name', 'City', 'State', 'Zip Code', 'Address', 'County', 'Latitude', 'Longitude', 'Primary NAICS Code', 'Industry Type (subparts)', 'Industry Type (sectors)', 'Total reported direct emissions', 'CO2 emissions (non-biogenic)', 'Methane (CH4) emissions ', 'Nitrous Oxide (N2O) emissions ', 'HFC emissions', 'PFC emissions', 'SF6 emissions ', 'NF3 emissions', 'Other Fully Fluorinated GHG emissions', 'HFE emissions', 'Very Short-lived Compounds emissions', 'Other GHGs (metric tons CO2e)', 'Biogenic CO2 emissions (metric tons)', 'Stationary Combustion', 'Electricity Generation', 'Adipic Acid Production', 'Aluminum Production', 'Ammonia Manufacturing', 'Cement Production', 'Electronics Manufacture', 'Ferroalloy Production', 'Fluorinated GHG Production', 'Glass Production', 'HCFC22 Production from HFC23 Destruction', 'Hydrogen Production', 'Iron and Steel Production', 'Lead Production', 'Lime Production', 'Magnesium Production', 'Miscellaneous Use of Carbonates', 'Nitric Acid Production', 'Petroleum and Natural Gas Systems - Offshore Production', 'Petroleum and Natural Gas Systems - Processing', 'Petroleum and Natural Gas Systems - Transmission/Compression', 'Petroleum and Natural Gas Systems - Underground Storage', 'Petroleum and Natural Gas Systems - LNG Storage', 'Petroleum and Natural Gas Systems - LNG Import/Export', 'Petrochemical Production', 'Petroleum Refining', 'Phosphoric Acid Production', 'Pulp and Paper Manufacturing', 'Silicon Carbide Production', 'Soda Ash Manufacturing', 'Titanium Dioxide Production', 'Underground Coal Mines', 'Zinc Production', 'Municipal Landfills', 'Industrial Wastewater Treatment', 'Manufacture of Electric Transmission and Distribution Equipment', 'Industrial Waste Landfills', 'CO2 used for NH3 / Lime?', 'Supplier of CO2?', 'CEMS?']

In [ ]:
# Data preview

df1.head(3)

,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Titanium Dioxide Production,Underground Coal Mines,Zinc Production,Municipal Landfills,Industrial Wastewater Treatment,Manufacture of Electric Transmission and Distribution Equipment,Industrial Waste Landfills,CO2 used for NH3 / Lime?,Supplier of CO2?,CEMS?
0,1004377,1.100000e+11,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,33.30,-96.54,...,NaN,NaN,NaN,504064.0,NaN,NaN,NaN,N,N,N
1,1000112,1.100000e+11,23rd and 3rd,BROOKLYN,NY,11232,730 3rd Avenue,Kings,40.66,-74.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,N
2,1013621,1.100000e+11,3Bear Libby Gas Plant,Hobbs,NM,88240,674 Marathon Rd,LEA COUNTY,32.54,-103.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,N

In [ ]:
# Meta Data
# Checking for data type (int/float v. object) and missing data

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6515 entries, 0 to 6514
Data columns (total 66 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Facility Id                                                      6515 non-null   int64
 1   FRS Id                                                           6405 non-null   float64
 2   Facility Name                                                    6515 non-null   object
 3   City                                                             6515 non-null   object
 4   State                                                            6515 non-null   object
 5   Zip Code                                                         6515 non-null   int64
 6   Address                                                          6038 non-null   object
 7   County                                                           6261 non-null   object
 8   Latitude                                                         6515 non-null   float64
 9   Longitude                                                        6515 non-null   float64
 10  Primary NAICS Code                                               6515 non-null   int64
 11  Industry Type (subparts)                                         6515 non-null   object
 12  Industry Type (sectors)                                          6515 non-null   object
 13  Total reported direct emissions                                  6515 non-null   float64
 14  CO2 emissions (non-biogenic)                                     5858 non-null   float64
 15  Methane (CH4) emissions                                          6413 non-null   float64
 16  Nitrous Oxide (N2O) emissions                                    5448 non-null   float64
 17  HFC emissions                                                    64 non-null     float64
 18  PFC emissions                                                    62 non-null     float64
 19  SF6 emissions                                                    62 non-null     float64
 20  NF3 emissions                                                    44 non-null     float64
 21  Other Fully Fluorinated GHG emissions                            47 non-null     float64
 22  HFE emissions                                                    22 non-null     float64
 23  Very Short-lived Compounds emissions                             27 non-null     float64
 24  Other GHGs (metric tons CO2e)                                    7 non-null      float64
 25  Biogenic CO2 emissions (metric tons)                             564 non-null    float64
 26  Stationary Combustion                                            5463 non-null   float64
 27  Electricity Generation                                           1106 non-null   float64
 28  Adipic Acid Production                                           2 non-null      float64
 29  Aluminum Production                                              7 non-null      float64
 30  Ammonia Manufacturing                                            29 non-null     float64
 31  Cement Production                                                92 non-null     float64
 32  Electronics Manufacture                                          48 non-null     float64
 33  Ferroalloy Production                                            9 non-null      float64
 34  Fluorinated GHG Production                                       15 non-null     float64
 35  Glass Production                                                 101 non-null    float64
 36  HCFC22 Production from HFC23 Destruction                         5 non-null      float64
 37  Hydrogen Production                                              114 non-null    float64
 38  Iron and Steel Production                                        122 non-null    float64
 39  Lead Production                                                  11 non-null     float64
 40  Lime Production                                                  71 non-null     float64
 41  Magnesium Production                                             9 non-null      float64
 42  Miscellaneous Use of Carbonates                                  6 non-null      float64
 43  Nitric Acid Production                                           32 non-null     float64
 44  Petroleum and Natural Gas Systems - Offshore Production          134 non-null    float64
 45  Petroleum and Natural Gas Systems - Processing                   446 non-null    float64
 46  Petroleum and Natural Gas Systems - Transmission/Compression     626 non-null    float64
 47  Petroleum and Natural Gas Systems - Underground Storage          36 non-null     float64
 48  Petroleum and Natural Gas Systems - LNG Storage                  5 non-null      float64
 49  Petroleum and Natural Gas Systems - LNG Import/Export            11 non-null     float64
 50  Petrochemical Production                                         72 non-null     float64
 51  Petroleum Refining                                               140 non-null    float64
 52  Phosphoric Acid Production                                       9 non-null      float64
 53  Pulp and Paper Manufacturing                                     103 non-null    float64
 54  Silicon Carbide Production                                       1 non-null      float64
 55  Soda Ash Manufacturing                                           4 non-null      float64
 56  Titanium Dioxide Production                                      6 non-null      float64
 57  Underground Coal Mines                                           71 non-null     float64
 58  Zinc Production                                                  5 non-null      float64
 59  Municipal Landfills                                              1123 non-null   float64
 60  Industrial Wastewater Treatment                                  124 non-null    float64
 61  Manufacture of Electric Transmission and Distribution Equipment  5 non-null      float64
 62  Industrial Waste Landfills                                       166 non-null    float64
 63  CO2 used for NH3 / Lime?                                         6515 non-null   object
 64  Supplier of CO2?                                                 6515 non-null   object
 65  CEMS?                                                            6515 non-null   object
dtypes: float64(53), int64(3), object(10)
memory usage: 3.3+ MB

### Data Cleaning

- Removing columns not relevant to analysis
- Separating into two dataframes - Facility Summary and Industry Emissions Summary
  - ***Facility Summary***: facility name/ID, state/city, latitude/longitude, regulation subparts, industry type, CO2e (including biogenic)
  - ***Industry Emissions Summary***: emissions by process/industry, checks for utilization and injection of CO2

#### Facility Summary

In [ ]:
# Create new df for summary of site information

facilities=df1.iloc[:,[2,3,4,5,8,9,11,12,13,14,25]]
facilities.index=df1['Facility Id']
facilities.head(3)

,Facility Name,City,State,Zip Code,Latitude,Longitude,Industry Type (subparts),Industry Type (sectors),Total reported direct emissions,CO2 emissions (non-biogenic),Biogenic CO2 emissions (metric tons)
Facility Id,,,,,,,,,,,
1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,33.30,-96.54,HH,Waste,504064.00,NaN,NaN
1000112,23rd and 3rd,BROOKLYN,NY,11232,40.66,-74.00,"C,D",Power Plants,60819.70,60751.2,NaN
1013621,3Bear Libby Gas Plant,Hobbs,NM,88240,32.54,-103.52,"C,W-PROC",Petroleum and Natural Gas Systems,40521.81,39555.5,NaN

In [ ]:
# Checking if all data is present
# Exceptions - facilities with non-CO2 GHG emissions only (e.g. refrigerants)
# Exception - facilities with some or all CO2 emissions as biogenic

facilities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6515 entries, 1004377 to 1011696
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Facility Name                         6515 non-null   object
 1   City                                  6515 non-null   object
 2   State                                 6515 non-null   object
 3   Zip Code                              6515 non-null   int64
 4   Latitude                              6515 non-null   float64
 5   Longitude                             6515 non-null   float64
 6   Industry Type (subparts)              6515 non-null   object
 7   Industry Type (sectors)               6515 non-null   object
 8   Total reported direct emissions       6515 non-null   float64
 9   CO2 emissions (non-biogenic)          5858 non-null   float64
 10  Biogenic CO2 emissions (metric tons)  564 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 610.8+ KB

In [ ]:
# Exclude all sources reporting only non-CO2 GHGs (e.g. CH4, refrigerants, etc) 
# For each source, check if either biogenic or non-biogenic column has a value
# Only keep the sources that satisfy this condition - np.logical_or()

biogenic=facilities['Biogenic CO2 emissions (metric tons)'].notna()
non_biogenic=facilities['CO2 emissions (non-biogenic)'].notna()
co2_filter = np.logical_or(biogenic,non_biogenic)
co2_facilities = facilities[co2_filter]

In [ ]:
# 5896 sources are applicable for this project
# 564 sources with some amount of biogenic CO2
# 38 sources with only biogenic CO2

co2_facilities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5896 entries, 1000112 to 1011696
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Facility Name                         5896 non-null   object
 1   City                                  5896 non-null   object
 2   State                                 5896 non-null   object
 3   Zip Code                              5896 non-null   int64
 4   Latitude                              5896 non-null   float64
 5   Longitude                             5896 non-null   float64
 6   Industry Type (subparts)              5896 non-null   object
 7   Industry Type (sectors)               5896 non-null   object
 8   Total reported direct emissions       5896 non-null   float64
 9   CO2 emissions (non-biogenic)          5858 non-null   float64
 10  Biogenic CO2 emissions (metric tons)  564 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 552.8+ KB

In [ ]:
# Facilities not considered
# 5896 + 619 = 6515 total sources (as in original dataframe)

missing_non_bio=facilities['CO2 emissions (non-biogenic)'].isna()     # no value
missing_bio=facilities['Biogenic CO2 emissions (metric tons)'].isna() # no value
filter = np.logical_and(missing_non_bio,missing_bio)
non_co2_facilities = facilities[filter]
non_co2_facilities.shape

(619, 11)

#### Industry Emissions Summary
- Creating dataframe for industrial sector emissions from each facility
- Facility may be reporting under multiple industrial sectors (i.e. subparts)

In [ ]:
# Create new df for emissions data by industrial sector
# Include non-biogenic & biogenic data columns to allow for filtering

emissions = df1.loc[:,['CO2 emissions (non-biogenic)','Biogenic CO2 emissions (metric tons)']]
emissions.index = df1['Facility Id']
sectors = df1.iloc[:,26:]
sectors.index = df1['Facility Id']
industries = pd.concat([emissions,sectors],axis=1) # concatenate df's together
industries.shape

(6515, 42)

In [ ]:
# Exclude all sources reporting only non-CO2 GHGs (e.g. CH4, refrigerants, etc) 
# For each source, check if either biogenic or non-biogenic column has a value
# Only keep the sources that satisfy this condition - np.logical_or()

biogenic=industries['Biogenic CO2 emissions (metric tons)'].notna()
non_biogenic=industries['CO2 emissions (non-biogenic)'].notna()
co2_filter = np.logical_or(biogenic,non_biogenic)
co2_industries = industries[co2_filter]

# Drop non-biogenic & biogenic data columns

co2_industries=co2_industries.drop(columns=['Biogenic CO2 emissions (metric tons)',
                                            'CO2 emissions (non-biogenic)'])
co2_industries.head(3)

,Stationary Combustion,Electricity Generation,Adipic Acid Production,Aluminum Production,Ammonia Manufacturing,Cement Production,Electronics Manufacture,Ferroalloy Production,Fluorinated GHG Production,Glass Production,...,Titanium Dioxide Production,Underground Coal Mines,Zinc Production,Municipal Landfills,Industrial Wastewater Treatment,Manufacture of Electric Transmission and Distribution Equipment,Industrial Waste Landfills,CO2 used for NH3 / Lime?,Supplier of CO2?,CEMS?
Facility Id,,,,,,,,,,,,,,,,,,,,,
1000112,199.10,60620.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,N
1013621,29729.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,N
1003742,335.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100165.5,NaN,NaN,NaN,N,N,N

## Regulatory Subpart Data

### Data Import and EDA

- Pull in data stored in Github
- Understand dataframe layout and basic attributes

In [ ]:
import pandas as pd
import numpy as np

# Regulatory subparts for each industry

url2 = 'https://raw.githubusercontent.com/edanyi/ed_RCEL506/main/ghgp_industries.csv'
df2 = pd.read_csv(url2)

In [ ]:
# Setting index as the regulatory subpart letter

df2.index = df2['Subpart Letter']
subparts = df2.loc[:,['Name of industry','Facility Type']]
subparts.head(3)

                      Name of industry   Facility Type
Subpart Letter
C                Stationary Combustion  Direct Emitter
D               Electricity Generation  Direct Emitter
E               Adipic Acid Production  Direct Emitter

In [ ]:
# Checking if all data is present

subparts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, C to UU
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name of industry  56 non-null     object
 1   Facility Type     56 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

## Clean Data Summary

- 3 dataframes are generated to summarize the data for this analysis
  - ***co2_facilities***: all US industrial facilities that emit CO2 emissions (2020 data)
  - ***subparts***: correlates EPA GHG reporting program regulatory subpart (CFR Part 98) to each type of industry
  - ***co2_industries***: CO2 emissions for each facility, broken down by regulatory subpart (i.e. industry)

In [ ]:
co2_facilities.head(3)

,Facility Name,City,State,Zip Code,Latitude,Longitude,Industry Type (subparts),Industry Type (sectors),Total reported direct emissions,CO2 emissions (non-biogenic),Biogenic CO2 emissions (metric tons)
Facility Id,,,,,,,,,,,
1000112,23rd and 3rd,BROOKLYN,NY,11232,40.66,-74.00,"C,D",Power Plants,60819.70,60751.2,NaN
1013621,3Bear Libby Gas Plant,Hobbs,NM,88240,32.54,-103.52,"C,W-PROC",Petroleum and Natural Gas Systems,40521.81,39555.5,NaN
1003742,31st Street Landfill,WESTCHESTER,IL,60154,41.84,-87.92,"C,HH",Waste,100500.95,334.9,NaN

In [ ]:
subparts.head()

                      Name of industry   Facility Type
Subpart Letter
C                Stationary Combustion  Direct Emitter
D               Electricity Generation  Direct Emitter
E               Adipic Acid Production  Direct Emitter
F                  Aluminum Production  Direct Emitter
G                Ammonia Manufacturing  Direct Emitter

In [ ]:
co2_industries.head(3)

,Stationary Combustion,Electricity Generation,Adipic Acid Production,Aluminum Production,Ammonia Manufacturing,Cement Production,Electronics Manufacture,Ferroalloy Production,Fluorinated GHG Production,Glass Production,...,Titanium Dioxide Production,Underground Coal Mines,Zinc Production,Municipal Landfills,Industrial Wastewater Treatment,Manufacture of Electric Transmission and Distribution Equipment,Industrial Waste Landfills,CO2 used for NH3 / Lime?,Supplier of CO2?,CEMS?
Facility Id,,,,,,,,,,,,,,,,,,,,,
1000112,199.10,60620.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,N
1013621,29729.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,N
1003742,335.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100165.5,NaN,NaN,NaN,N,N,N

# Facility Classification

- Classify each facility into it's respective industrial sector (i.e. based on regulatory subpart)

In [ ]:
co2_facilities.loc[[1013621],['Industry Type (subparts)']]

            Industry Type (subparts)
Facility Id
1013621                     C,W-PROC

- https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling
- https://note.nkmk.me/en/python-pandas-str-slice/
- https://note.nkmk.me/en/python-pandas-str-replace-strip-etc/

In [ ]:
# Trying to sort out individual characters
# want to keep letters intact separated by the commas

#for index, row in facilities.iterrows():
#  first = row['Industry Type (subparts)'][0] # pulling first letter
#  letters = list(row['Industry Type (subparts)']) # making into list
#  print(index,':',first)

# Industry Summaries

- Create a dataframe for each industry to summarize each sector's emissions

In [ ]:
co2_industries[['Stationary Combustion']]

             Stationary Combustion
Facility Id
1000112                     199.10
1013621                   29729.99
1003742                     335.45
1003188                   29237.34
1005043                   82308.24
...                            ...
1010592                    7518.67
1000805                     496.05
1001464                        NaN
1012625                   26513.00
1011696                       0.00

[5896 rows x 1 columns]

In [ ]:
# create dict (key = facility id, value = CO2 emissions)
# Iterate by row, and by column, check if value is a number
# If value is a number, add to the dictionary

stat_comb_dict = {}
for label, row in co2_industries.iterrows():
  #if row['Stationary Combustion']=='':           # need to remove Nan
    stat_comb_dict[label]=row['Stationary Combustion'] # add to dict

# Convert to dataframe
stat_comb = pd.DataFrame(stat_comb_dict,index=[stat_comb_dict.keys])
stat_comb

,1000112,1013621,1003742,1003188,1005043,1012037,1003739,1007698,1004206,1006665,...,1013961,1011356,1005985,1003318,1001308,1010592,1000805,1001464,1012625,1011696
<built-in method keys of dict object at 0x7fcafbdf29b0>,199.1,29729.99,335.45,29237.34,82308.24,68093.69,26371.6,46909.12,42060.19,28578.39,...,35542.12,183721.91,116.3,12694.55,438.1,7518.67,496.05,NaN,26513.0,0.0